In [1]:
import numpy as np
import pandas as pd
import requests
import random

from bs4 import BeautifulSoup

In [2]:
url = 'https://pokemondb.net/move/all'
response = requests.get(url)
html = response.content

In [3]:
soup = BeautifulSoup(html, 'html.parser')
table = soup.find_all('div', class_='resp-scroll')
df = pd.read_html(str(table))[0]

In [4]:
pd.set_option('display.max_colwidth', None)

In [5]:
df.drop('Cat.', axis=1, inplace=True)
df.head()

,Name,Type,Power,Acc.,PP,Effect,Prob. (%)
0,"10,000,000 Volt Thunderbolt",Electric,195,—,1,Pikachu-exclusive Z-Move. High critical hit ratio.,—
1,Absorb,Grass,20,100,25,User recovers half the HP inflicted on opponent.,—
2,Accelerock,Rock,40,100,20,User attacks first.,—
3,Acid,Poison,40,100,30,May lower opponent's Special Defense.,10
4,Acid Armor,Poison,—,—,20,Sharply raises user's Defense.,—

In [6]:
url_2 = 'https://pokemondb.net/ability'
response_2 = requests.get(url_2)
html_2 = response_2.content

soup_2 = BeautifulSoup(html_2, 'html.parser')
ab_table = soup_2.find_all('div', class_='resp-scroll')
ab = pd.read_html(str(ab_table))[0]
ab

,Name,Pokémon,Description,Gen.
0,Adaptability,16,Powers up moves of the same type.,4
1,Aerilate,2,Turns Normal-type moves into Flying-type moves.,6
2,Aftermath,10,Damages the attacker landing the finishing hit.,4
3,Air Lock,1,Eliminates the effects of weather.,3
4,Analytic,12,Boosts move power when the Pokémon moves last.,5
...,...,...,...,...
292,Wind Rider,2,"Takes no damage from wind moves, and boosts Attack if hit by one.",9
293,Wonder Guard,1,Only supereffective moves will hit.,3
294,Wonder Skin,5,Makes status-changing moves more likely to miss.,5
295,Zen Mode,4,Changes form when HP drops below half.,5
296,Zero to Hero,2,Transforms into its Hero Form when switching out.,9

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
class PokemonGame:
    def __init__(self, df):
        self.df = df.copy()
        self.df['Name'] = self.df['Name'].str.upper()
        print('Bem vindo ao Joguinho de Pokémon')

    def random_move(self):
        random_effect = random.randint(0, len(self.df) - 1) 
        return pd.DataFrame(self.df[self.df.index == random_effect])

    def play(self):
        while True:
            random_move_gabarito = self.random_move()
            g = random_move_gabarito.copy()
            random_move = pd.DataFrame(random_move_gabarito.drop('Name', axis=1))
            display(random_move)
            user_input = input('Give your best shot: ').upper()
            if user_input in g['Name'].values:
                print(user_input)
                print('Acertou miseravi')
                print('-'*50)
                display(g)
                print('-'*50)
            else:
                print('Errou, seu lixo!')
                print('Seu chute miserável: ', user_input)
                display(g)
                break

#class interface:

In [9]:
import tkinter as tk

In [23]:
pk = PokemonGame(ab)
pk.play()

Bem vindo ao Joguinho de Pokémon

    Pokémon                                       Description  Gen.
67       27  It powers up Fire-type moves if it's hit by one.     3

FLASH FIRE
Acertou miseravi
--------------------------------------------------

,Name,Pokémon,Description,Gen.
67,FLASH FIRE,27,It powers up Fire-type moves if it's hit by one.,3

--------------------------------------------------

     Pokémon                                     Description  Gen.
194       18  Deals more damage to a Pokémon of same gender.     4

RIVALRY
Acertou miseravi
--------------------------------------------------

        Name  Pokémon                                     Description  Gen.
194  RIVALRY       18  Deals more damage to a Pokémon of same gender.     4

--------------------------------------------------

     Pokémon                                     Description  Gen.
215       35  Removes added effects to increase move damage.     5

SHEER FORCE
Acertou miseravi
--------------------------------------------------

,Name,Pokémon,Description,Gen.
215,SHEER FORCE,35,Removes added effects to increase move damage.,5

--------------------------------------------------

     Pokémon                                 Description  Gen.
186       11  Boosts Speed if there is a status problem.     4

Errou, seu lixo!
Seu chute miserável:  D

           Name  Pokémon                                 Description  Gen.
186  QUICK FEET       11  Boosts Speed if there is a status problem.     4